/*
colores:
#140C33
#9B3EBF
#91B54C
#91E3AC
font-family para titulos:
font-family: 'Patrick Hand', cursive;
*/
*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
/* styles app */
.App{
  min-width: 320px;
  padding-bottom: 8rem;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: rgba(20, 12, 51, 1);
}
.container{
  padding: 0 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.bannerImg{
  width: 100%;
}
.portalImg{
  width: 80px;
  position: relative;
  top: -50px;

}
/*** styles search box component ***/
.searchBox{
  width: 70%;
  height: 50px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-bottom: 2rem;
}
.searchBox input{
  width: 100%;
  border-top-left-radius:10px ;
  border-bottom-left-radius: 10px;
  text-align: center;
  color: white;
  background-color: transparent;
  border: 1.5px solid #9B3EBF;
}
.searchBox input::placeholder {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: rgb(255, 255, 255);
  font-size: 1.3em;
}
.searchBox button{
  width: 75px;
  font-size: 1.9rem;
  color: white;
  border-bottom-right-radius: 10px;
  border-top-right-radius: 10px;
  background-color: #9B3EBF;
  border-style: none;
}


/*** styles location info component ***/

.locationInf{
  width: 100%;
  border-radius: 10px;
  text-align: center;
  padding: 20px 8px;
  background-color:transparent;
  box-shadow: 2px 2px 8px rgba(247, 239, 239, 0.988);

}
h1{
  color: #91B54C;
  margin-bottom: 2rem;
  font-family: 'Patrick Hand', cursive;
  font-size: 3rem;
}
.locationInf span{
  display: inline-block;
  margin-right: 18px;
  margin-bottom: 15px;
  letter-spacing: 2px;
  /* color: white; */
  color: #91E3AC;
}
/*** AQUI styles residents list component ***/




/*** POR ACA ABAJO styles resident info component ***/




/* medias queries  */
@media only screen and (min-width:668px){
  .container{
    /* max-width: 85% a partir de los 668px el tamaño del div.container no crese mas de 85% de la pantalla */
    max-width: 85%;
    padding: 0;
    /* margin: 0 auto para que el div.container siempre este centrado */
    margin: 0 auto;
  }
  .portalImg{
    width: 120px;
  }
  .searchBox{
    width: 50%;
  }
  .locationInf{
    max-width:80% ;
  }
}
